/* ======================
   HEADER / NAVBAR
====================== */
.header-nav {
    background-color: #240115;
    border-bottom: 1px solid #b3b3b3;
}

/* Color real del navbar de Bootstrap */
.bg-dark-purple {
    background-color: #240115 !important;
}

/* LOGO */
.logo-navbar {
    height: 70px;
    width: auto;
}

/* LINKS DEL MENÚ */
.nav-links .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 4px;
    font-size: 14px;
  
}

/* Último sin línea */
.nav-links .nav-item:last-child .nav-link {
    border-right: none;
}

/* Hover subrayado */
.nav-links .nav-link:hover {
    border-bottom: 2px solid black;
}





/* === FOOTER ESTILO IGUAL A LA IMAGEN === */

footer {
    background-color: #000;   /* Fondo negro */
    color: white;             /* Texto blanco */
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

footer h5 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.6;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer ul li:hover a {
    opacity: 0.7;
}

footer .list-inline-item a {
    font-size: 20px;
    padding: 5px;
}

/* Línea separadora */
footer hr {
    border-color: #333;
    width: 90%;
    margin: 25px auto;
}
