/* === header  === */

.logo {
  height: 70px;
  width: auto;
}

.navbar-nav .nav-link {
  color: #0C1B33;
  margin: 0 12px;
  font-size: 14px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid white;
}


/* === BODY  === */

.descripcion{
    border-radius: 10px;
    background-color: #0C1B33;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding: 40px 0;
    text-align: left;
    width: fit-content;
    padding: 20px 20px;
}

.SKILLS_Skills{
    width: fit-content;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #F0A202;
    font-family: "Poppins", sans-serif;
    text-align: center;
    

}




.estudio-texto {
    flex: 1;
    max-width: 60%;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    line-height: 1.6;

}

.acercaDeMi{
    padding: 60px;

}

.logoEstudios{
    max-width: 120px;
    object-fit: contain;
    border-radius: 60px ;
    border-color: #F0A202;
    border-style: solid;

}


.logochamba{
    max-width: 120px;
    object-fit: contain;
    border-radius: 60px ;
    border-color: #3F7CAC;
    border-style: solid;

}

/* === FOOTER  === */

footer {
    background-color: #0C1B33;   /* Fondo negro */
    color: white;             /* Texto blanco */
    padding: 40px 0;
    text-align: center;
}

footer h5 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer p {
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.6;
}

footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer ul li:hover a {
    opacity: 0.7;
}

footer .list-inline-item a {
    font-size: 20px;
    padding: 5px;
}

/* Línea separadora */
footer hr {
    border-color: #3F7CAC;
    width: 90%;
    margin: 25px auto;
}
